//// COLORS ////////////

$color-primary: #272727;
$color-secondary: #E5E5E5;
$color-tertiary: #fff;

$color-text-primary: #fff;
$color-text-secondary:#E2B67A;
$color-text-tertiary: #C2C2C2;


///// FONT SIZE ///

$default-font-size: 1.6rem;

// max-width: 115rem;
//padding: 0 1.5rem;