.sections {
    display: flex;
    padding: 0 1.5rem;
    justify-content: center;
    margin-bottom: 1.6rem;

    &__card {

        &:not(:last-child){
            margin-right: 2.2rem;
        }
    }
    &__background {
        position: relative;
        width: 32vw;
        height: 48vh;
        background-repeat: no-repeat;
        background-size: cover;

        &--men {
            background-image: linear-gradient(to bottom, rgba(39, 39, 39, 0), 
            rgba(39, 39, 39, 0.5)),
                url(../../img/people/men.photo-m.png);  
        }
        &--women {
            background-image: linear-gradient(to bottom, rgba(39, 39, 39, 0), 
            rgba(39, 39, 39, 0.5)),
                url(../../img/people/women.photo-m.png);
        }

        @include respond (tab-land) {
            width: 45vw;
            height: 50vh;
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 3;
    }

    &__title {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 40%;
            height: 1px;
            z-index: 4;
            bottom: 0;
            background-color: $color-text-primary;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__link {
        transition: all .3s;

        & p {
            text-align: center;
            font-size: 2.4rem;
            font-weight: 300;
        }

        &:hover,
        &:focus {
                color: $color-text-secondary;
            }
    }
    
}